/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* SASS colors */
$primary-color: #374A57;
$link-color: #3677A3;
$link-active-color: #489c79;
$background-color: #BADFFA;
$secondary-background-color: #FAD3D2;

/* SASS color functions */
$background-color-lighter: lighten($background-color, 5%);

/* SASS fonts */
$font-stack-primary: 'Lato', sans-serif;
$font-stack-secondary: 'Roboto', serif;

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: $font-stack-primary;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  color: $primary-color;
  /* Sets all text color*/
}

h1 {
  font-family: $font-stack-secondary;
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-family: $font-stack-secondary;
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-family: $font-stack-secondary;
  font-size: 18px;
  font-weight: 300;
}

a {
  color: $link-color;
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

  /* Visited link
a:visited {
  color: #05676e;
}
*/

a:active {
  /* selected link */
  color: $link-active-color;
}

button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  background-color: $primary-color;
  color: white;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 0.5em;
  border-bottom: 0.3em solid $background-color;
  /* Transitions */
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

/* Class tags */

.contact-item {
  padding: 0.3em ;
}

.profile,
.profile_about,
.profile_contact {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.profile_work {
  text-align: center;
}

.profile_photo {
  float: left;
  width: 250px;
  margin-right: 2.5em;
  height: auto;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.icon {
  margin: 0.5em;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1.5em;
  -webkit-box-shadow: 0 4px 6px rgba(34, 60, 80, 0.16);
          box-shadow: 0 4px 6px rgba(34, 60, 80, 0.16);
  border-bottom: 0.1em solid $background-color;
}

.page-header_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header_item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 1em;
}

/* Grid */

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-left: 1em;
  margin-right: 1em;
}

.grid_item {
  background-color: $background-color-lighter;
  padding: 1em;
}

/* Animations */

.cloud-left {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

.cloud-right {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Keyframes */

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
  to {
    -webkit-transform: translate(200px, -50px);
            transform: translate(200px, -50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
  to {
    -webkit-transform: translate(200px, -50px);
            transform: translate(200px, -50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, -80px);
            transform: translate(446px, -80px);
  }
  to {
    -webkit-transform: translate(100px, -80px);
            transform: translate(100px, -80px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, -80px);
            transform: translate(446px, -80px);
  }
  to {
    -webkit-transform: translate(100px, -80px);
            transform: translate(100px, -80px);
  }
}

/* Media Queries for responsive design */

@media all and (max-width: 505px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 505px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
